{% extends 'funfacts/base.html'%}
{% block content %}
<form action="{%url 'addSong'%}" method="post" enctype="multipart/form-data">

	{%csrf_token%}
	<div class="registration">
	<div>{{form.non_field_errors}}</div>
	{%for f in form%}
<p align="center"><label class = 'form-label' for = "{{ f.id_for_label}}">{{f.label}}</p><p align="center"></label>{{f}}</p>

	{%endfor%}
	<p>Нету вашего автора или категории?</p>
	<p>Добавить:<a href="{% url 'addAuthor'%}"> автора</a>|<a href="{% url 'addCategory'%}">категорию</a></p>
	<button type="submit" class="user"> <b>Добавить</b></button>
</form></div>

{%endblock%}