{% extends 'funfacts/base.html'%}

{% block content %}



{%for s in songs%}
<div align="center" class = "song_block_Pc{{request.user_agent.is_pc}}" >

<h1 align="center">{{s.title}}</h1>
<nav>
<nav class="song_info">
<b>Автор: <a href="{{s.get_absolute_url_author}}"> {{s.author}}</a><br>
Жанр:{%for cats in s.cat.all%}
   <a href="{{cats.get_absolute_url}}"> {{ cats.name }}&ensp;</a>
    {%endfor%}


</b>
</nav>
{%if s.Image%}
<p><img src = '{{s.Image.url}}' ></p>
{%endif%}
<h4>{{s.content|linebreaks|truncatewords:40}}</h3>
<div align="right">

<a href = '{{s.get_absolute_url}}'  class="Full_Pc{{request.user_agent.is_pc}}">
<b>Full text...</b></a></div>
<br>
</div>
<br>


{%endfor%}


    Do stuff here...

<p><a href = "{% url 'addSong' %}">9o0</a></p>
{% endblock %}