<nav class="side_text">Жанры:</nav>
{%for cat in cats%}
{%if cat.pk == category_selected%}
<a  id = 'aub' href="{{cat.get_absolute_url}}">{{cat.name}} g</a>



{%elif cat.pk <= category_selected|add:2 and cat.pk >= category_selected|add:-2 %}
<a href="{{cat.get_absolute_url}}" class="authors">{{cat.name}}</a>

{%elif category_selected == 0 and cat.pk <= 4 %}
<a href="{{cat.get_absolute_url}}" class="authors">{{cat.name}}</a>

	{%endif%}

{%endfor%}
<nav class="side_text">Исполнители: </nav>
{%for author in authors%}
{%if author.pk == author_selected%}

<a  id = 'aub' href="{{author.get_absolute_url}}">{{author.name}}</a>



{%elif author.pk <= author_selected|add:2 and author.pk >= author_selected|add:-2 %}
<a href="{{author.get_absolute_url}}" class="authors">{{author.name}}</a>

{%elif author_selected == 0 and author.pk <= 4 %}
<a href="{{author.get_absolute_url}}" class="authors">{{author.name}}</a>

	{%endif%}

{%endfor%}
