<nav class="side_text">Жанры:</nav>
{%for cat in cats%}
{%if cat.pk == category_selected%}
<a  id = 'aub' href="{{cat.get_absolute_url}}">{{cat.name}} g</a>



{%elif cat.pk <= category_selected|add:2 and cat.pk >= category_selected|add:-2 %}
<a href="{{cat.get_absolute_url}}" class="authors">{{cat.name}}</a>

{%elif category_selected == 0 and cat.pk <= 4 %}
<a href="{{cat.get_absolute_url}}" class="authors">{{cat.name}}</a>

	{%endif%}

{%endfor%}
<nav class="side_text">Исполнители: </nav>
{%for fuck in authors%}
{%if fuck.pk == author_selected%}

<a  id = 'aub' href="{{fuck.get_absolute_url}}">{{fuck.name}}</a>



{%elif fuck.pk <= author_selected|add:2 and fuck.pk >= author_selected|add:-2 %}
<a href="{{fuck.get_absolute_url}}" class="authors">{{fuck.name}}</a>

{%elif author_selected == 0 and fuck.pk <= 4 %}
<a href="{{fuck.get_absolute_url}}" class="authors">{{fuck.name}}</a>

	{%endif%}

{%endfor%}
