body {
  background: #3B3A3D; /*dark - grey*/
  color: #C0C0C0;/*light-grey*/

}
a{
    transition: all 1s;
  text-decoration: none;
  color: #7AA899; /*---  light green*//*#8B7AAB ---- light purple*/
}
/*---PC VERSION---*/
.SidenavPcTrue {
  /* Полная высота: удалите это, если вы хотите "авто" высота */
  width: 250px; /* Установите ширину боковой панели */
  position: fixed; /* Фиксированная боковая панель (оставайтесь на месте при прокрутке) */
  z-index: 1; /* Оставайтесь с верху */
  top: 0; /* Оставайтесь на вершине */
  left: 0;

  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 20px;
}

/* Ссылки в меню навигации */
.SidenavPcTrue a {
  padding-left: 8px;
  padding-top: 6px;
  text-decoration: none;
  font-size: 25px;
  color: #7AA899;
  display: block;
}

/* При наведении курсора мыши на навигационные ссылки измените их цвет */
.SidenavPcTrue a:hover {
  transition:all 1s;
  color: lightgray;

}

.song_block_PcTrue{
  margin-left:26%;
  width:600px;
  border: solid #8B7AAB 5px;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 10px;
}
.song_block_PcTrue a:hover{
  transition: all 1s;
  color: lightgray;
}
.btn_nav_auth_PcTrue{

  justify-content: center;
  display: flex;
  float: right;
  font-size: 24px;
  width: 30%;

}

.btn_nav_auth_PcTrue a:hover{
  transition: all 1s;
  color: lightgray;
}
.song_info{
text-align: left;
  width:auto;

  padding-left: 4px;
}
.Full_PcTrue{
  padding-right: 20px;
  padding-bottom: 110px;
  font-size: 22px;
}

.Full_PcTrue:hover{
  transition: margin-right 500ms .5s;
  color: lightgray;
  font-size: 25px;
}
.side_text_PcTrue{
  font-size: 22px;
  padding-left: 6px;
  color: lightgray;
}
#id_author {
  width: 220px;
  background: darkgray;

}

#id_cat{
  width: 220px;
  color: black;
}
#id_title{
  width: 220px;
}
#id_content{
  width: 220px;
  height: 40px;
}
#id_Image{
  width: 220px;
  background: darkgray;
}
.user_btn_PcTrue{
  height: 43px;
  border-radius: 12px;
  border-color:#3B3A3D;
    margin-right: 10px;
}
.user_btn_PcTrue:hover{
  transition: all 500ms ;

  background: darkgrey;
  color: white;
}
.side_text_PcTrue{
  font-size: 18px;
  padding-left: 8px;
  color: lightgray;
}

.SidenavPcFalse {
  /* Полная высота: удалите это, если вы хотите "авто" высота */
  width: 100px; /* Установите ширину боковой панели */
  position: fixed; /* Фиксированная боковая панель (оставайтесь на месте при прокрутке) */
  z-index: 1; /* Оставайтесь с верху */
  top: 0; /* Оставайтесь на вершине */
  left: 0;

  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 20px;
}

/* Ссылки в меню навигации */
.SidenavPcFalse a {
  padding-left: 8px;
  padding-top: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #7AA899;
  display: block;
}
.song_block_PcFalse{
  margin-left:110px;
  width:68%;
  border: solid #8B7AAB 5px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
}
.song_block_PcFalse a:hover{
  transition: all 1s;
  color: lightgray;
}
.song_block_PcFalse img{
  width: 200px;
}

.side_text_PcFalse{
  font-size: 15px;
  padding-left: 8px;
  color: lightgray;
}
.btn_nav_auth_PcFalse{

  justify-content: center;
  display: flex;
  float: center;
  font-size: 18px;
  width: auto;

}

.btn_nav_auth_PcFalse a:hover{
  transition: all 1s;
  color: lightgray;
}
.user_btn_PcFalse{
  height: 33px;
  border-radius: 12px;
  border-color:#3B3A3D;
    margin-right: 10px;
}
.user_btn_PcFalse:hover{
  transition: all 500ms ;

  background: darkgrey;
  color: white;
}